:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


#root {
  width: 100%;
  color-scheme: light dark;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: #202020
}

h1 {
  font-size: clamp(1.5rem, 5vw, 3.2rem);
  line-height: 1.1;
  text-align: center;
  color: #fff;
}


.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .registro-form-container {
    width: 100%;
  }
}

.title__evento {
  font-size: clamp(1.5rem, 5vw, 3.2rem);
  max-width: 44rem;
  text-align: center;
  margin: 0 auto;
}