.wrapper__modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}


.modal-otp,
.modal-basic {
  width: 100%;
  max-width: 52.5rem;
  background: #fff;

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  display: flex;

  align-items: center;

  .left {
    flex: 1;

  }

  .right {
    flex: 1;

    display: flex;
    flex-direction: column;





    .top {
      background-color: #D9D9D9;
      display: flex;
      flex-direction: column;
      padding: 2.2rem;

      gap: .75rem;

      h2 {
        text-align: start;
        width: 100%;
      }

      p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.64px;
      }
    }

    .bottom {
      padding: 2rem 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 2.813rem;

      .lines {
        width: 100%;
        display: flex;
        gap: .75rem;
        justify-content: center;

        .line {
          border-radius: .2rem;
          width: 3.125rem;
          height: 0.313rem;
          display: block;

          &.bg-main {
            background-color: var(--color-orange);
          }

          &.bg-secondary {
            background-color: #D9D9D9;
          }
        }
      }

      .title__header {
        display: flex;
        flex-direction: column;
        gap: .75rem;

        p,
        h3 {
          text-align: center;
        }
      }

      .xample__mail {

        display: flex;
        justify-content: center;



        p {
          border-radius: .5rem;
          width: fit-content;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -0.56px;
          padding: .75rem 1rem;
          text-align: center;
          border: 1px solid #CED4DA;
        }

      }
    }
  }
}



.example-code {
  padding: 0.6rem 1.4rem;
  border: 1px solid #CED4DA;
  border-radius: 0.5rem;
  font-size: 1.1rem;
}


.otp-container {
  display: flex;
  gap: 0.8rem;
}

.otp-box {
  width: 2.5rem;
  height: 2.8rem;
  font-size: 1.4rem;
  text-align: center;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  background: transparent;
}

.otp-box:focus {
  border-bottom-color: #007bff;
}

.hint {
  font-size: 0.8rem;
  color: #777;
}

.btn-validar {
  width: 100%;
  padding: 0.7rem;
  background: black;
  color: white;
  font-size: 1rem;
  border-radius: 0.6rem;
  border: none;
  cursor: pointer;
}

.btn-validar:hover {
  opacity: 0.9;
}